<div class="footer" style="padding-bottom:7%">
    <div class="row" style="padding-top: 4%">
        <div class="col-3" style="padding-left: 5%">
            <img style="padding-top: 3%" width="200" height="90" src="assets/img/logo-blanc-300x109.png"
                class="attachment-medium size-medium" alt="My RHIS" loading="lazy">

            <p style="padding-top:3%">RHIS Solutions<br>140 Rue Gallieni<br>92100 Boulogne-Billancourt, France</p>

            <div>
                <p>Suivez nos actualités
                    <a href="https://www.linkedin.com/company/rhis-solutions/">
                        <i style="color:white" class="fab fa-linkedin fa-2x"></i></a>
                </p>
            </div>
        </div>

        <!-- Notre produit-->
        <div class="col-3">
            <span class="title">Notre produit</span>
            <div>
                <ul>
                    <li><a href="/fonctionnalites-myrhis/la-solution/">Gestion du personnel</a></li>
                    <li><a href="/fonctionnalites-myrhis/performances/">Planification</a></li>
                    <li><a href="/fonctionnalites-myrhis/la-solution/">Pointeuse</a></li>
                    <li><a href="/fonctionnalites-myrhis/la-solution/">Guide des heures</a></li>

                    <li>
                        <a href="/integrations/">Intégrations</a>
                    </li>
                </ul>
            </div>
        </div>

        <!--  Services-->
        <div class="col-3">
            <span class="title">Nos services</span>
            <div class="elementor-widget-container">
                <ul>
                    <li><a href="/services">Conseil</a></li>
                    <li><a href="/services">Support de la suite MyRHIS</a></li>
                    <li><a routerLink="/services">Maintenance de la</a> pointeuse</li>
                    <li><a routerLink="/services">Formation</a></li>
                </ul>
            </div>
        </div>
        <!-- A propos -->
        <div class=" col-3">
            <span class="title">A propos</span>
            <div class="elementor-widget-container">
                <ul>
                    <li><a href="/contact/">Nous contacter</a></li>
                    <li>Le Blog</li>
                    <li><a href="/mentions-legales/#pc">Politique de Confidentialité</a></li>
                    <li><a href="/mentions-legales/">Mentions légales</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>