<mat-toolbar class="style-toolbar">
	<img>
	<div class="elementor-widget-container">
		<a href="https://www.rhis-solutions.com/">
			<img width="185" height="45" src="assets/img/logo-header-blanc.png" alt="Logo My RHIS" loading="lazy"
				sizes="(max-width: 300px) 100vw, 300px"> </a>
	</div>
	<mat-nav-list class="list-horizontal">
		<mat-list-item>
			<a href>Fonctionnalités MyRHIS</a>
		</mat-list-item>
		<mat-list-item>
			<a routerLink="/integrations">Intégrations</a>
		</mat-list-item>
		<mat-list-item>
			<a routerLink="/services" >Nos services</a>
		</mat-list-item>
		<mat-list-item>
			<a href>Témoignages</a>
		</mat-list-item>
		<mat-list-item>
			<a href>A propos</a>
		</mat-list-item>
		<mat-list-item>
			<a href>Contact</a>
		</mat-list-item>
	</mat-nav-list>
</mat-toolbar>