<app-navbar></app-navbar>
<section data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
	<div class="row" style="padding-top: 8%; padding-left: 7%;">
		<div class="col-5 elementor-container elementor-column-gap-default">
			<div class="elementor-widget-wrap elementor-element-populated">
				<div class="elementor-element elementor-element-0691094 title_section title_elt elementor-widget elementor-widget-heading animated fadeInUp"
					data-id="0691094" data-element_type="widget"
					data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h1 class="elementor-heading-title elementor-size-default">Notre solution s’intègre <span
								class="style-span">avec vos systèmes <br>de gestion</span></h1>
					</div>
				</div>
				<div class="elementor-element elementor-element-de01fd5 txt_section elementor-widget elementor-widget-text-editor"
					data-id="de01fd5" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p>Une solution 360 pour la gestion des RH de votre restaurant</p>
					</div>
				</div>
				<div class="elementor-element elementor-element-75f4315 cta elementor-widget elementor-widget-button"
					data-id="75f4315" data-element_type="widget" data-widget_type="button.default">
					<button href="https://www.rhis-solutions.com/contact/" type="button" label="Warning"
						class="p-element p-ripple p-button-rounded p-button-warning p-button p-component">
						<span class="p-button-label">En savoir plus </span>
						<span class="p-ink"
							style="height: 93px; width: 93px; top: -24.35px; left: 9.73749px;"></span></button>
				</div>
			</div>
		</div>

		<div class="col-7">
			<img width="800" height="633" src="assets/img/integrations1-1536x1113.jpg"
				class="attachment-large size-large" alt="Integrations" loading="lazy"
				sizes="(max-width: 1024px) 100vw, 1024px">
		</div>
	</div>
</section>
<div class="row">
	<img src="assets/img/fond-courbe-bleue-h.png" class="attachment-large size-large" alt="font" loading="lazy"
		sizes="(max-width: 1024px) 100vw, 1024px">
</div>

<!-------Syst de caisse ----------->
<section class="section_systeme_caisse">
	<div class="row">
		<div class="col-7">
			<div style="padding-left: 38%;">
				<img width="60" height="55" style="margin-top: -7%;" src="assets/img/caisse.png"><span
					class="style-system-caisse"><b> Système de caisse</b></span>
			</div>
			<div class="ul_blanc" style="margin-top: 30px; padding-right:10%;">
				<ul style="padding-left: 29%">
					<li>L’intégration avec votre système de caisse permet de communiquer vos rapports de ventes à
						MyRHIS.</li>
					<li>Vous rationalisez ainsi vos coûts avec un calcul des plannings basé sur les historiques de
						ventes.</li>
				</ul>
			</div>
			<div style="margin-right: -43%;padding-left: 48%; margin-top:6%"
				class="elementor-section elementor-inner-section elementor-element elementor-element-9015453 captures_sys_caisse elementor-section-boxed elementor-section-height-default elementor-section-height-default"
				data-id="9015453" data-element_type="section">
				<div class=" row elementor-container elementor-column-gap-default">
					<div style="flex: 0 0 0%; margin-right: 0px !important;"
						class="box-shadow-style elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-98b2ab3 col no_float_xs"
						data-id="98b2ab3" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-84583bb img elementor-widget elementor-widget-image"
								data-id="84583bb" data-element_type="widget" data-widget_type="image.default">
								<div class="elementor-widget-container">
									<img width="100" height="100" src="assets/img/ca.png"
										class="attachment-medium size-medium" alt="ca" loading="lazy"
										sizes="(max-width: 217px) 100vw, 217px">
								</div>
							</div>
						</div>
					</div>
					<div style="flex: 0 0 0%; margin-right: 0px !important;"
						class="box-shadow-style elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-aa1cd99 col no_float_xs"
						data-id="aa1cd99" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-1dcaa07 img elementor-widget elementor-widget-image"
								data-id="1dcaa07" data-element_type="widget" data-widget_type="image.default">
								<div class="elementor-widget-container">
									<img width="100" height="100" src="assets/img/effectif.png"
										class="attachment-medium size-medium" alt="Effectif" loading="lazy"
										sizes="(max-width: 217px) 100vw, 217px">
								</div>
							</div>
						</div>
					</div>
					<div style="flex: 0 0 0%; margin-right: 0px !important;"
						class="box-shadow-style elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-c9b29ef col no_float_xs col_xl"
						data-id="c9b29ef" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-eb066a5 img elementor-widget elementor-widget-image"
								data-id="eb066a5" data-element_type="widget" data-widget_type="image.default">
								<div class="elementor-widget-container">
									<img width="100" height="100" src="assets/img/caisse8.png"
										class="attachment-medium size-medium" alt="Caisse" loading="lazy"
										sizes="(max-width: 220px) 100vw, 220px">
								</div>
							</div>
						</div>
					</div>
					<div style="flex: 0 0 0%; margin-right: 0px !important;"
						class="box-shadow-style elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-feac243 col no_float_xs col_xl"
						data-id="feac243" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-bcfd9cc img elementor-widget elementor-widget-image"
								data-id="bcfd9cc" data-element_type="widget" data-widget_type="image.default">
								<div class="elementor-widget-container">
									<img width="100" height="100" src="assets/img/cuisine.png"
										class="attachment-medium size-medium" alt="Cuisine" loading="lazy"
										sizes="(max-width: 221px) 100vw, 221px">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div style="margin-right: -43%;padding-left: 48%; margin-top:2%"
				class="elementor-section elementor-inner-section elementor-element elementor-element-9015453 captures_sys_caisse elementor-section-boxed elementor-section-height-default elementor-section-height-default"
				data-id="9015453" data-element_type="section">
				<div class=" row elementor-container elementor-column-gap-default">
					<div style="flex: 0 0 0%; margin-right: 0px !important;"
						class="box-shadow-style elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-5043323 col no_float_xs"
						data-id="5043323" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-261aa0b img elementor-widget elementor-widget-image"
								data-id="261aa0b" data-element_type="widget" data-widget_type="image.default">
								<div class="elementor-widget-container">
									<img width="100" height="100" src="assets/img/productivite.png"
										class="attachment-medium size-medium" alt="Productivité" loading="lazy"
										sizes="(max-width: 217px) 100vw, 217px">
								</div>
							</div>
						</div>
					</div>
					<div style="flex: 0 0 0%; margin-right: 0px !important;"
						class="box-shadow-style elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-f7fdef0 col no_float_xs"
						data-id="f7fdef0" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-a5600ce img elementor-widget elementor-widget-image"
								data-id="a5600ce" data-element_type="widget" data-widget_type="image.default">
								<div class="elementor-widget-container">
									<img width="100" height="100" src="assets/img/cout-empl.png"
										class="attachment-medium size-medium" alt="Coût EMPL." loading="lazy"
										sizes="(max-width: 217px) 100vw, 217px">
								</div>
							</div>
						</div>
					</div>
					<div style="flex: 0 0 0%; margin-right: 0px !important;"
						class="box-shadow-style elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-f9bec55 col no_float_xs col_xl"
						data-id="f9bec55" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-14bc609 img elementor-widget elementor-widget-image"
								data-id="14bc609" data-element_type="widget" data-widget_type="image.default">
								<div class="elementor-widget-container">
									<img width="100" height="100" src="assets/img/livraison.png"
										class="attachment-medium size-medium" alt="livraison" loading="lazy"
										sizes="(max-width: 221px) 100vw, 221px">
								</div>
							</div>
						</div>
					</div>
					<div style="flex: 0 0 0%; margin-right: 0px !important;"
						class="box-shadow-style elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-4f4f074 col no_float_xs col_xl"
						data-id="4f4f074" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-49c6762 img elementor-widget elementor-widget-image"
								data-id="49c6762" data-element_type="widget" data-widget_type="image.default">
								<div class="elementor-widget-container">
									<img width="100" height="100" src="assets/img/drive.png"
										class="attachment-medium size-medium" alt="drive" loading="lazy"
										sizes="(max-width: 221px) 100vw, 221px">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div style="margin-left: 57%; margin-top:3%"
				class="elementor-element elementor-element-75f4315 cta elementor-widget elementor-widget-button"
				data-id="75f4315" data-element_type="widget" data-widget_type="button.default">
				<button href="https://www.rhis-solutions.com/contact/" type="button" label="Warning"
					class="p-element p-ripple p-button-rounded p-button-warning p-button p-component">
					<span class="p-button-label"> Testez myrhis </span>
					<span class="p-ink"
						style="height: 93px; width: 93px; top: -24.35px; left: 9.73749px;"></span></button>
			</div>


			
		</div>

		<div style="padding-top:6%"
			class="col-5 elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-9b6d400 col_img no_float_sm"
			data-id="9b6d400" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
				<div style="margin-top: 74%;margin-right: 17%;"
					class="elementor-element elementor-element-ba79b19 pastille elementor-widget elementor-widget-text-editor animated bounceIn"
					data-id="ba79b19" data-element_type="widget"
					data-settings="{&quot;_animation&quot;:&quot;bounceIn&quot;}"
					data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p><img class="alignnone size-full wp-image-2018" src="assets/img/agenda.png"
								alt="Des plannings liés à vos ventes" width="45" height="40"></p>
						<p>Des plannings liés à vos ventes</p>
					</div>
				</div>
				<div class="elementor-element elementor-element-11dbb9e img elementor-widget elementor-widget-image"
					data-id="11dbb9e" data-element_type="widget" data-widget_type="image.default">
					<div class="elementor-widget-container">
						<img width="400" height="475" src="assets/img/visuel-systeme-caisse.png"
							class="attachment-large size-large" alt="Système de caisse" loading="lazy"
							sizes="(max-width: 794px) 100vw, 794px">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-------Partenaires ----------->
<section class="section_logos_clients">
	<div>
		<span class="style-system-caisse"><b>Des partenaires techniques</b></span>
		<div style="padding-bottom: 28%;" class="slide-container">
			<span class="slider-span" id="slider-span1"></span>
			<span class="slider-span" id="slider-span2"></span>
			<span class="slider-span" id="slider-span3"></span>
			<span class="slider-span" id="slider-span4"></span>
			<span class="slider-span" id="slider-span5"></span>
			<span class="slider-span" id="slider-span6"></span>
			<span class="slider-span" id="slider-span7"></span>
			<span class="slider-span" id="slider-span8"></span>

			<div class="image-slider">
				<div class="slides-div" id="slide-1">
					<img src="assets/img/Acrelec-300x126.png" alt="" class="img" id="img1">
					<a href="#slider-span1" class="button" id="button-1"></a>
				</div>
				<div class="slides-div" id="slide-2">
					<img src="assets/img/npact-1-300x155.png" alt="" class="img" id="img2">
					<a href="#slider-span2" class="button" id="button-2"></a>
				</div>
				<div class="slides-div" id="slide-3">
					<img src="assets/img/e-paye.png" alt="" class="img" id="img3">
					<a href="#slider-span3" class="button" id="button-3"></a>
				</div>
				<div class="slides-div" id="slide-4">
					<img src="assets/img/sila-expert-1-300x125.png" alt="" class="img" id="img3">
					<a href="#slider-span3" class="button" id="button-3"></a>
				</div>
				<div class="slides-div" id="slide-5">
					<img src="assets/img/Logo-in-extenso-300x48.png" alt="" class="img" id="img3">
					<a href="#slider-span3" class="button" id="button-3"></a>
				</div>
				<div class="slides-div" id="slide-6">
					<img src="assets/img/oracle-removebg-preview-300x110-1.png" alt="" class="img" id="img3">
					<a href="#slider-span3" class="button" id="button-3"></a>
				</div>
				<div class="slides-div" id="slide-7">
					<img src="assets/img/cegid.png" alt="" class="img" id="img3">
					<a href="#slider-span3" class="button" id="button-3"></a>
				</div>
				<div class="slides-div" id="slide-8">
					<img src="assets/img/sage.png" alt="" class="img" id="img3">
					<a href="#slider-span3" class="button" id="button-3"></a>
				</div>
			</div>
		</div>
	</div>
</section>










<!-------Syst de paie ----------->




















<section
	class="elementor-section elementor-top-section elementor-element elementor-element-812a859 section_sys_paie no_flex overflow_hidden elementor-section-boxed elementor-section-height-default elementor-section-height-default" style="padding-bottom: 8%;" >
	<div class="row" style="padding-top: 5%">
		<div class="col-6">
			<div style="padding-left: 38%;">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-b78cdb6 col col_img no_float_sm"
						data-id="b78cdb6" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-7a13ffb img elementor-widget elementor-widget-image animated fadeIn"
								data-id="7a13ffb" data-element_type="widget"
								data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}"
								data-widget_type="image.default">
								<div class="elementor-widget-container">
									<img width="500" height="500" src="assets/img/systeme-de-paie.png"
										class="attachment-large size-large" alt="Système de paie" loading="lazy"
										sizes="(max-width: 1024px) 100vw, 1024px">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div style=" padding-right:6%"
			class=" col-6 elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-feaa679 col col_txt float_right no_float_sm animated fadeInRight"
			data-id="feaa679" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
				<div class="elementor-element elementor-element-2e43167 elementor-position-left title_icone elementor-vertical-align-top elementor-widget elementor-widget-image-box"
					data-id="2e43167" data-element_type="widget" data-widget_type="image-box.default">
					<div class="elementor-widget-container">
						<div style="padding-left: 38%;">
							<img width="60" height="55" style="margin-top: -7%;" src="assets/img/picto-systeme-paie.png"><span
								class="style-system-caisse"><b> Système de paie</b></span>
						</div>

					</div>
				</div>
				<div
					class="elementor-element elementor-element-275780e txt ul_noir no_mb z_index_1 elementor-widget elementor-widget-text-editor">
					<div class="ul_noir">
						<ul class="no_mb">
							<li class="no_mb">L’interface avec votre système de paie permet d’intégrer les données
								nécessaires pour émettre les bulletins de paie de vos employés.</li>
						</ul>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-a9adc8d img no_mb z_index_2 elementor-widget elementor-widget-raven-image">

					<img width="700" height="120" src="assets/img/capture-sys-paie.png"
						class="attachment-full size-full" alt="capture système de paie" loading="lazy"
						sizes="(max-width: 1425px) 100vw, 1425px">

				</div>
				<div
					class="elementor-element elementor-element-27a3874 txt txt2 ul_noir z_index_1 elementor-widget elementor-widget-text-editor">

					<ul class="no_mb">
						<li>Gagnez du temps avec cette solution efficace qui élimine l’étape chronophage de la
							saisie manuelle des variables de paie en fin de période.</li>
						<li>Votre logiciel de paie ne figure pas encore dans la liste de nos partenaires
							techniques
							? Nous pouvons développer l’interface !</li>
					</ul>

				</div>
				<div  style="padding-left:30%" class="elementor-element elementor-element-75f4315 cta elementor-widget elementor-widget-button"
						data-id="75f4315" data-element_type="widget" data-widget_type="button.default">
						<button style="background-color: #0d6efd;" href="https://www.rhis-solutions.com/contact/" type="button" label="Warning"
							class="p-element p-ripple p-button-rounded p-button-warning p-button p-component">
							<span class="p-button-label">contactez-nous</span>
							<span class="p-ink"
								style="height: 93px; width: 93px; top: -24.35px; left: 9.73749px;"></span></button>
						</div>
			</div>
		</div>

	</div>
</section>

<app-footer></app-footer>